<html>

<head>

	<title> Add Staff </title>
	<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<div class="login-box">
		<img src="/img/teach_icon.png" class="avatar">

		<h1> Add Staff </h1>
		<form action="/admin/addstaff" method="post">


			<input type="text" placeholder="Enter Staff ID" name="id" required> <br>

			<input type="text" placeholder="Enter Staff Name" name="name" required> <br><br>
			<p>Department</p>

			<select class="optn" name="dept" required>

				<option value="AR">AR</option>
				<option value="CS">CS</option>
				<option value="EC">EC</option>
				<option value="ME">ME</option>
				<option value="CE">CE</option>
				<option value="EE">EE</option>
			</select><br>
			<input type="password" placeholder="Enter Password" name="password" required> <br><br>
			<input type="submit" name="submit" value="Submit">
		</form>



	</div>

	<div class="icons">

		<a href="/admin/home">
			<input name="home" type="image" src="/img/home_icon.png">
		</a>
<form method="post" action="/admin/logout">
			<button type="submit" class="logout"><img src="/img/logout_icon.png" class="logbutton"></button>
		</form>
	</div>

	<p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>

</html>