<html>
<head>

<title> Add Staff </title>
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>
<body>
<div class="login-box"> 

	<h1> Admin Login </h1>  
	<form action="/admin/login" method="post">
	<input type="text" placeholder="Username" name="username" required> <br>
	<input type="password" placeholder="Password" name="password" required> <br>
	<br>
	<input type="submit" name="submit" value="Login" > 

</form>
<a href="/"><p>Back</p></a>

</div>


<p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>

</html>