<html>
<head>

<title> Index </title>
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>
<body>
<div class="login-box"> 
<h1>Welcome</h1>
<a href="/api/loginstaff">
<input name="teacherin" type="image" src="img/teacher_in_icon.jpg">
</a>

<p name="teacher">Teacher</p>

<a href="/student/login">
<input name="studentin" type="image" src="img/student_in_icon.jpg">
</a>
<p name="student">Student</p>
<a href="/admin/">
<input name="adminin" type="image" src="img/admin_in_icon.jpg">
</a>
<p name="admin">Admin</p>

	




</div>

<p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>

</html>