<html>
<head>

<title> Add Staff </title>
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>
<body>
<div class="login-box"> 

	<h1> Staff Login </h1>  
	<form action="/api/loginstaff" method="post">
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <input type="submit" name="submit" value="Login">
    </form>
    <a href="/"><p>Back</p></a>
</div>


<p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>

</html>