

<html>
<head>

<title> Admin Portal </title>
<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css"  href="/css/style.css">


</head>

<body>

	<div class="login-box"> 
	<center>
<h1>Student Portal</h1> <br>
<p>
Name : {{ name }}
<br><br>
ID : {{ id }}
<br><br>
Department : {{ dept }} <br> <br>
</p>
<p>

<a href="/student/viewattendance">View Attendance</a> | 
<a href="/student/submitdutyleave">Submit Duty Leave</a> |
<a href="/student/viewsubmitteddutyleave">View Submitted Duty Leaves</a>
</p>
<br><br><br>
<form action="/student/logout" method="post">
<input type="submit" value="Logout">
</form>
</center>
	</div>
	
	
	
	<p class="footer"> CET DUTY LEAVE AUTOMATION</p>
</body>
</html>